.mun__adjustcanvas {
  width: 100%;
}

.mun__textupfloating {
  position: absolute;
  top: 125px;
  right: 25px;
  width: 250px;
  height: 70px;
  color: #5685ad;
}

@media only screen and (max-width: 400px) {
  .mun__textupfloating {
    display: none;
  }
}

.mun__bigcanvas {
  overflow-y: auto;

  display: inline;
  width: 99vw;
  padding: 0px !important;
  margin: 0px !important;
  background-color: #c7e6f6;
  min-height: 900px;
}
@media only screen and (max-width: 1400px) {
  .mun__bigcanvas {
    min-width: 900px;
    min-height: 1100px;
  }
}
@media only screen and (max-width: 900px) {
  .mun__bigcanvas {
    min-width: 650px;
    min-height: 950px;
  }
}
