.mun__headerglobal {
  background-color: #222a44;
  color: #ffffff;
}
.mun__avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mun__dropdownbutton {
  background-color: transparent;
  color: #ffffff;
  border: 0px;
}
.mun__dropdownbutton:hover {
  background-color: transparent;
}
.mun__dropdownbutton:active {
  background-color: transparent;
}
.mun__dropdownbutton:visited {
  background-color: transparent;
}

.mun_display_name {
  display: block;
}

@media only screen and (max-width: 400px) {
  .mun_display_name {
    display: none;
  }
}
