.mun__backgopaced {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 9999 !important;
}

.mun__backgopaced h5 {
  color: #ffffff;
  margin-top: 14px;
}
